<h1>{{ title }} <sup>{{prompts.length}}</sup></h1>
<div class="locale"> <a href="https://ponderprompts.{{url}}" target="_self">{{switch}}</a></div>
<div class="container">
  <div class="container-item">
    <div class="prompt" [innerHTML]="prompt.content"></div>
  </div>
</div>
<div class="next-button">
  <a (click)="giveMeAnotherPrompt()">{{reload}}</a>
</div>
<div class="color">{{color}} | <a href="https://pondernotes.de">Blog</a> | <a href="https://pondersoul.de" target="_blank">YouTube</a></div>